
/*==================================================
 MoveDown
==================================================*/
@keyframes MoveDown {
    0%{
        top: -418px;
        left: calc(50vw - (300/2));
        scale: 0.33;
    }
    25%{
        top: 50vh;
        left: calc(50vw - (300/2));
        scale: 1;
    }
    50%{
        top: 50vh;
        left: calc(50vw - (300/2));
    }
    75%{
        top: 50vh;
        left: calc(50vw - (300/2));
        scale: 1;
    }
    100%{
        top: calc(100vh + 418px);
        left: calc(50vw - (300/2));
        scale: 0.33;
    }
}

/*==================================================
 Rotate
==================================================*/
@keyframes Rotate {
    0%{
        
    }
    30%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}

/*==================================================
 FadeIn
==================================================*/
@keyframes FadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*==================================================
 End
==================================================*/
@keyframes End {
    0%{
        top: -100px;
    }
    100%{
        top: 50vh;
    }
}